.header {
    &__wrapper {
        width: 355px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 52px 0 0 148px;
    }
    &-item {
        &__label {
            font-weight: 400;
            font-size: 12px;
            line-height: 17px;
            color: #FFFFFF;
            text-decoration: none;
            cursor: pointer;
            background-color: transparent;
            border: none;
        }
    }
}