.header {
    background-color: #D2B48C;
    padding: 15px 0 15px 0;
    &__wrapper {
        width: 355px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        list-style-type: none;
        margin: 0 auto;
        padding-left: 0;
    }
    &-item {
        &__label {
            font-weight: 400;
            font-size: 12px;
            line-height: 17px;
            color: #FFFFFF;
            text-decoration: none;
            cursor: pointer;
            background-color: transparent;
            border: none;
            &:hover {
                color: #000;
                transition: 0.3s;
            }
        }
    }
}