.our__promo {
    min-height: 350px;
    background: url("../../assets/img/our-coffee-promo.jpg") center/cover no-repeat;
    &-label {
        font-weight: 700;
        font-size: 40px;
        line-height: 58px;
        color: #FFFFFF;
        text-align: center;
        margin-top: 60px;
    }
}

