.our__promo {
    min-height: 350px;
    background: url("./img/our-coffee-promo.jpg") center/cover no-repeat;
    &-label {
        font-weight: 700;
        font-size: 40px;
        line-height: 58px;
        color: #FFFFFF;
        text-align: center;
        margin-top: 60px;
    }
}

.our {
    &__about {
        min-height: 430px;
        margin-top: 79px;
    }
    &__info {
        display: flex;
        &-text {
            padding-left: 79px;
        }
        &-label {
            text-align: center;
            font-weight: 400;
            font-size: 24px;
            line-height: 35px;
            color: #000000;
        }
        &-descr {
            text-align: center;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #000000;
        }
    }
}